# ignore jcrdir
# This because whoever downloads the source code to compile from should be able to handle JCR6 CLI tools as well, plus, as fully built JCR files can become rather big I don't want to spook my repository
jcr/*

# MKL is something I do not want either
MKL*
*MKL*


# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
